:root {
  --primary_colour: #3d5a80;
  --secondary_colour: #ee6c4d;
  --white: #ffff;
}

@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

.App {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: 'Crete Round', serif;
  gap: 50px;
  height: 100vh;
  width: 100vw;
  background-color: var(--primary_colour);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--white);
  color: var(--primary_colour);
  font-size: 50px;
  width: 100vw;
  height: 10vh;
  font-weight: bolder;
}

.applicationImage {
  width: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.table {
  height: 150px;
  width: 50vw;
  background-color: var(--white);
  padding: 10px;
  border-radius: 5px;
}

/* Add Employee Button */
.employee_button {
  background-color: var(--primary_colour);
  color: var(--white);
  border-radius: 5px;
  border: solid 2px var(--white);
  width: 135px;
  height: 30px;
  cursor: pointer;
  font-weight: 900;
}

.employee_button:hover {
  background-color: var(--secondary_colour);
  color: var(--primary_colour);
}

/* Create Employee Form Styles */
.create_employee_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  min-width: 250px;
  gap: 5px;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--white);
  height: 40vh;
}

.form_label_container {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.button-design {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 80px;
  height: 50px;
  background-color: var(--primary_colour);
  color: white;
  font-size: 1em;
}

.button-design:hover {
  border: 1px black solid;
  font-weight: 900;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
